.option-btn {
    width: 40%;
    background-color: white;
    color: black;
    border: 2px solid rgb(152, 126, 180);
}


.option-btn:hover {
    background-color: #4CAF50;
    color: white;
}

.question-text {
    color: rgb(152, 126, 180);

}

.option-width {
    width: 35%;
}

@media screen and (max-width: 480px) {
    .option-width {
        width: 100%;
    }
}